<div class="container">
    <h1><%= @user.username %></h1>
    <p><%= @user.name %></p>
    <% if current_user.following?(@user) %>
      <p><%= link_to "Unfollow", unfollow_user_path(@user.username), method: :delete %></p>
    <% else %>
      <p><%= link_to "Follow", follow_user_path(@user.username), method: :post %></p>
    <% end %>

  <ul>
    <% @tweets.each do |tweet| %>
      <tr>
      <li>
        <td><%= tweet.user.username %></td><br>
        <td><%= tweet.content %></td> 
      </li>    
      </tr>
    <% end %>
  </ul>

</div>